---
layout: default
---

<h1 class="text-5xl font-bold primary-color mb-4"><%= resource.data.title %></h1>
<img src="<%= resource.data.pic %>" alt="תמונת נושא" class="mx-auto my-4 h-[50vh]">

<div class="whitespace-pre-line"><%= yield %></div>

<style>

</style>