@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-background: #fafafa;
  --body-color: #444;  
}

body {
  background: var(--body-background);
  color: var(--body-color);
}

h1, nav, footer {
  text-align: center;
}

main {
  margin: 4rem auto;
  max-width: 60rem;
}

*{
  font-family: 'Rubik', sans-serif;
}

h1{
  color: #618539;
}
