$body-background: #fafafa;
$body-color: #444;
$green: #618539;
$orange: #A67F01;

body {
  background: $orange;
  color: $body-color;
}

h1, nav, footer {
  text-align: center;
}

main {
  margin: 4rem auto;
  max-width: 60rem;
}
*{
  font-family: 'BrassiaRegular';
}