<nav class="navbar mb-2 shadow-lg bg-neutral text-neutral-content sticky top-0 z-50">
  <div class="flex-1 px-2 mx-2">
    <a class="text-lg font-bold" href="/">
            סולארפאנק ישראל
          </a>
  </div> 
  <div class="px-2 mx-2">
    <div class="flex items-stretch">
      <a class="btn btn-ghost btn-sm rounded-btn" href="/manifest"> 
              המניפסט
      </a> 
      <a class="btn btn-ghost btn-sm rounded-btn">
              הצטרפות 
      </a> 
    </div>
  </div> 
  
</nav>